<% @page_title = "Edit Host: #{@host.ipv4_address}" %>

<%= link_to("<< Back to List", {:action => 'list'}, :class => 'back-link') %>

<div class="host new">
  <h2>Update Host</h2>

  <%= form_for(:host, :url => {:action => 'update', :id => @host.id}) do |form| %>

    <%= render(:partial => "form", :locals => {:form => form}) %>

    <div class="form-buttons">
      <%= submit_tag("Update Host") %>
    </div>
  <% end %>
</div>

