.header
{
	background-color: #0A3850;
	border-radius: 6px;
}
.top-nav
{
	background-color: #000000;
	font-size: 10pt;
	padding-left: 10px;
}
.top-nav-link
{
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
	font-size: 10pt;
}
.header-title
{
	padding-top: 4px;
	height: 17px;
	color: #FF0B0B;
	margin-left: 10px;
}
.header-sub-title
{
	height: 0px;
	margin-left: 10px;
	color: #FFFFFF;
	margin-bottom: 29px;
}
.content
{
	background-color: #6D6D6D;
	table-layout: fixed;
	word-wrap: break-word;
	padding-top: 19px;
}
.main-content-table-header
{
	background-color: #D72323;
	color: #FFFFFF;
	font-size: 12pt;
	text-align: right;
	border-radius: 6px;
}
.main-content
{
	width: 100%;
	margin-top: -18px;
	text-align: left;
	font-size: 12pt;
	border-radius: 6px;
}
.even
{
	background-color: #B3B1B2;
}
.odd
{
	background-color: #FFFFFF;
}
.cell-header
{
	text-align: left;
	text-decoration: blink;
	color: #B5C2CE;
	border-radius: 4px;
	padding-left: 6px;
	background-color: #2E3337;
}
.detail-header-row
{
	background-color: #0A3850;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 12pt;
	padding-left: 12px;
	border-radius: 4px;
}
.content-show
{
	padding-bottom: 0px;
	padding-top: 0px;
}
.host-detail-view
{
	width: 100%;
	table-layout: fixed;
	word-wrap: break-word;
	font-size: 10pt;
}
.nav-button
{
	background-color: #000000;
	width: 80px;
}
.nav-button:hover
{
	background-color: #0A3850;
}
.cell-content
{
	border-radius: 4px;
	padding-left: 6px;
	font-weight: bold;
	color: #454545;
}
.protocol-http
{
	color: #007A03;
	border-radius: 6px;
	font-weight: bold;
}
.protocol-ftp
{
	color: #C10303;
	border-radius: 6px;
	font-weight: bold;
}
.protocol-ssh
{
	color: #0A6F96;
	border-radius: 6px;
	font-weight: bold;
}
.protocol-http-proxy
{
	color: #007A03;
	border-radius: 6px;
	font-weight: bold;
}
.protocol-msrpc
{
	color: #C500C0;
}
.protocol-microsoft-rdp
{
	color: #C500C0;
}
.protocol-microsoft-ds
{
	color: #C500C0;
}
.def-term
{
	background-color: #2E3337;
	font-size: 13px;
	border-radius: 6px;
}
.def-term-link
{
	text-decoration: none;
	color: #FFFFFF;
}
.def-term:hover
{
	background-color: #0A3850;
	/*[empty]background-image:;*/
}
.list-header
{
	color: #4AA7FF;
}
.listing
{
	width: 100%;
	border-radius: 6px;
	font-size: 13px;
}
.accordion
{
	width: 100%;
}
.footer
{
	color: #FFFFFF;
	text-align: right;
}
.def
{
	padding-left: 0px;
	margin-left: 0px;
}
.accordion-table
{
	width: 100%;
}
.cell-content-link
{
	color: #D72323;
	text-decoration: underline;
}
.cell-content-link:hover
{
	color: #500505;
}
.protocol-ajp13
{
	color: #007A03;
}
.protocol-postgresql
{
	color: #4C048C;
}
